<h2>Show topic</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @topic.title %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @topic.description %>
  </li>

</ul>

<%= link "Edit", to: topic_path(@conn, :edit, @topic) %>
<%= link "Back", to: topic_path(@conn, :index) %>
