<h1>Hello!</h1>
<label for=title>Title</label>
<input type=text id=title></input>
<label for=description>Description</label>
<textarea id=description></textarea>

<button id=submitnewtopic>Submit</button>

<%= for topic <- @topics do %>
    <ul id=topiclist>
      <li><%= topic.title %></li>
    </ul>
<% end %>
