<h2>Show vote</h2>

<ul>

  <li>
    <strong>User:</strong>
    <%= @vote.user_id %>
  </li>

  <li>
    <strong>Topic:</strong>
    <%= @vote.topic_id %>
  </li>

</ul>

<%= link "Edit", to: vote_path(@conn, :edit, @vote) %>
<%= link "Back", to: vote_path(@conn, :index) %>
